#image: Previous Visual Studio 2015

install:
#- ps: .\install-git.ps1
- wusa /uninstall /kb:4072650

test_script:
- go version
- go env
- set GOPATH=%APPVEYOR_BUILD_FOLDER%
- set PATH=%GOPATH%\bin;%PATH%
- go get -u github.com/golang/lint/golint
- go get github.com/sparrc/gdm
- gdm restore
  
build: off
